NEXT_PUBLIC_BASE_API_URL=https://ayevto1.thewarriors.team/api


NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCHb8BF6aU4pRrDZ6VjgvSDcpYcFuaiJCM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=peptide-892d5.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=peptide-892d5
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=peptide-892d5.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=864817595029
NEXT_PUBLIC_FIREBASE_APP_ID=1:864817595029:web:4c4795eada74efb58c919c
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-3MWNL31VCQ